* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none !important;
}
a {
  text-decoration: none !important;
}
body,
html {
  font-family: "Source Sans Pro", sans-serif;
  color: #212529;
  text-align: left;
}

#myBody {
  background-color: white;
  line-height: 1.5;
  font-size: 1rem;
}

/* header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

header.main-header {
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
}

#myBody .nav-fixed {
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  height: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.navbar-expand-lg .navbar-nav {
  padding: 6px 0;
  font-size: 15px;
  color: #000;
  font-weight: 600;
}

.navbar .navbar-brand {
  font-size: 32px;
  padding: 0;
  color: #fb811e;
  position: relative;
}

.navbar .navbar-brand i {
  position: absolute;
  top: -10px;
  left: 55px;
  font-size: 20px;
}

#myBody .nav-fixed .navbar-brand {
  color: #000;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

/* search */
.navbar .search-right {
  margin: 0 10px 0 10px;
}

.search-right input[type="search"] {
  background: url(./img/search.png) 10px center;
  background-repeat: no-repeat;
  border: 1px solid #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  outline: none;
  background-color: white;
  border-radius: 10rem;
  transition: all 0.5s;
  cursor: pointer;
}

.search-right input[type="search"]:hover {
  background-color: #fff;
}

/* When the input field gets focus, change its width to 100% */
input[type="search"]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  border-color: white;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
}

#myBody .nav-fixed .search-right input[type="search"] {
  background-color: white;
}

/* light and dark */

#switchButton {
  border: none;
  padding: 0px;
  width: 24px;
  height: 24px;
  margin: 10px;
  padding: 0;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 0;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  color: white;
  display: block;
  font-size: 25px;
}

#myBody .nav-fixed .fa-moon {
  color: black;
}

#switchButton .fa-moon:hover {
  color: #fb811e;
}

/*  menu */
#menu {
  padding: 0;
  margin: 0;
  z-index: 99;
  font-size: 29px;
}

ul {
  list-style: none;
}

#menu label span {
  margin-left: 10px;
  line-height: 1em;
  color: white;
}

#myBody .nav-fixed label span {
  line-height: 1em;
  color: #000;
}

#menu input {
  display: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

#menu label {
  position: relative;
  display: block;
  cursor: pointer;
  text-align: center;
  margin: 0;
}

.submenu {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #fff;
  transition: max-height 0.5s ease-out;
  position: absolute;
  min-width: 8em;
  right: 0;
  box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
}

#menu input:checked ~ ul.submenu {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
}

nav ul li {
  display: block;
  text-align: center;
}

.submenu li {
  display: block;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

#active {
  color: #fb811e;
}

.submenu li a {
  color: #000;
  text-decoration: none;
  transition: all 0.75s;
}

.submenu li a:hover {
  color: #fb811e;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 992px) {
  .container {
    min-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 768px) {
    #myBody .nav-fixed .navbar .navbar-brand{
        color: #fb811e;
    }
    .navbar .navbar-brand {
      color: #fff;
    }
  }
/* carousel */
/* .carousel {
    margin: 0;
} */

/* carousel left */
.carousel__left {
  position: absolute;
  right: 10em;
  z-index: 99;
}
.carousel__text {
  text-align: left;
}
.item__banner {
  z-index: -99;
  position: relative;
}
.item__banner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 17%);
  z-index: -101;
  border-bottom-left-radius: 20px;
  top: 0;
}
.carousel__content__left {
  padding: 6em 3em 3em 0em;
  border-radius: 8px;
}

.carousel__content__left .farm-text {
  color: #f4f4f4;
  font-size: 120px;
  font-weight: bold;
  margin-left: -0.5em;
  margin-bottom: 0;
}

.carousel__content__left .carousel__content {
  margin-top: -40px;
}

.carousel__content h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}

.carousel__text {
  font-size: 20px;
}

.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}

.btn-style:hover {
  background: #009f4d;
  color: #ffffff;
}

/* carousel right */
/* .carousel-item {
    position: relative;
    z-index: -1;
} */

#carouselFarm .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

/* .img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.26);
  opacity: 1;
} */
.item__banner {
  position: relative;
}
.item__banner img {
  border-bottom-left-radius: 20px;
}
.wrapper {
  text-align: center;
  position: absolute;
  right: 14px;
  bottom: 9px;
  color: #fff;
}
.wrapper h4 {
  font-size: 24px;
}
.wrapper p {
  font-size: 15px;
}
.owl-dots {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
}
.owl-theme .owl-dots .owl-dot span {
  background: #fff;
  transition: opacity 0.2s ease;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fb811e;
  opacity: 1;
}
@media screen and (max-width: 2040px) {
  .carousel__left {
    left: 10em;
  }

  .carousel__content h3 {
    font-size: 40px;
    line-height: 50px;
  }

  .farm-text {
    font-size: 100px;
  }
}

@media screen and (max-width: 1150px) {
  .carousel__left {
    left: 5em;
  }

  p.carousel__text {
    font-size: 17px;
  }

  .carousel__content h3 {
    font-size: 35px;
    line-height: 45px;
  }

  .carousel__content__left h2 {
    font-size: 90px;
  }
}

@media screen and (max-width: 992px) {
  .carousel__left {
    left: 2em;
  }

  .carousel__content h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .carousel__content__left h2 {
    font-size: 80px;
  }
}

@media screen and (max-width: 768px) {
  .carousel__left {
    left: 0em;
    padding: 2em;
  }

  .carousel__content__left {
    background: #fff;
    padding: 3em 2em 2em 4em;
    border-radius: 8px;
    margin-top: 4rem;
  }
  /* .carousel__left {
    left: 0em;
    padding: 2em;
  }
  .carousel__content__left {

  } */
}

@media screen and (max-width: 568px) {
  .carousel__content h3 {
    font-size: 28px;
    line-height: 38px;
  }

  .carousel__content__left h2 {
    font-size: 70px;
  }

  p.carousel__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .carousel__content__left {
    padding: 2.5em 2em 2em 2.5em;
  }

  .carousel__content__left h2 {
    font-size: 60px;
  }

  .carousel__content h3 {
    font-size: 25px;
    line-height: 35px;
  }

  .carousel__left {
    padding: 1em;
  }
}

/* feature */
.feature .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.feature {
  margin: 30px 10px;
  padding: 20px;
  z-index: 2;
}

.feature .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -15px;
  margin-left: -15px;
}

.feature__left .small__title {
  color: #fb811e;
  font-size: 22px;
}

.feature__left .large__title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  color: #000;
}

.feature__left p {
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}

.feature__right .feature__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.feature__right .feature__item {
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 1rem 3rem #00000008;
  background-color: #fff;
  transition: all 0.75s;
}

.feature__right .feature__item:hover {
  transition: all 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 20%);
}

.feature__item .icon img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}

.feature__item a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #000;
  text-decoration: none;
  transition: all 0.75s;
}

.feature__item a:hover {
  color: #009f4d;
}

@media screen and (max-width: 991px) {
  .feature .row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .feature .col-6 {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .large__title {
    font-size: 35px;
    line-height: 45px;
  }

  .small__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .feature__right .feature__item {
    padding: 1em;
  }
}

@media screen and (max-width: 667px) {
  .feature__item a {
    font-size: 18px;
  }
}

@media screen and (max-width: 568px) {
  .feature__item a {
    margin-top: 7px;
  }
}

/* service */
.service {
  background-color: #009f4d;
}

.service__title .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -15px;
  margin-left: -15px;
}

.service__left h5 {
  font-size: 22px;
  color: #fff;
}

.service__left h3 {
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  color: #f4f4f4;
}

.service__right p {
  font-size: 1.25rem;
  font-weight: 300;
}

.service__title__big {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.service__list .card {
  border-radius: 20px;
  border: none;
  overflow: hidden;
}

.service__list {
  margin: 50px 0 20px 0;
}

.service__list .card img {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.service-details {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border: 1px solid #eee;
  border-top: none;
}

.service-details .label-type {
  color: #009f4d;
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}

.service-details h5 a {
  text-decoration: none;
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #000;
  margin: 15px 0;
  transition: all 0.75s;
}

.service-details h5 a:hover {
  color: #009f4d;
}

.service-details .card p {
  color: #eee;
}

@media screen and (max-width: 991px) {
  .service__left h3 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
  }

  .service__right p {
    padding-top: 50px;
  }

  .service__list .item {
    margin-top: 30px;
  }
}
.small-title {
  color: #fb811e;
  font-size: 22px;
}
.title-style {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}
p {
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
.btn-primary {
  background-color: #fb811e;
}
.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}
.btn-primary:hover {
  background-color: #009f4d;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #956fef;
  border-color: #956fef;
  box-shadow: 0 0 0 0.2rem rgb(102 16 242 / 35%);
}
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #956fef;
  border-color: #956fef;
}

/* WHY CHOOSE US */
.grids_info i {
  font-size: 30px;
  color: #fb811e;
}
.grids_info h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}
.whychooseus__right img {
  border-radius: 30px;
}
.imginfo__box {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}
.imginfo__box .imginfo__title {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}
.imginfo__box p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
}
/* Option  */
.option .option__container {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 2rem 1rem;
  /* background: #fafafa; */
  transition: 0.5s ease-in;
}
.option .option__container:hover {
  border: 0.5px solid #eee;
  transition: 0.3s ease-in;
  box-shadow: -1px 2px 12px -9px rgb(0 0 0 / 41%);
  background: #fff;
}
.option .option__content h4 {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  color: #060606;
  transition: all .5s;
}
.option .option__content h4:hover{
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  color:#009f4d;
}
/* GALLERY  */
.gallery .gallery__effect {
  position: relative;
}
.gallery .gallery__effect figure {
  overflow: hidden;
  /* position: relative; */
  margin: 0;
}
.item-img {
  position: relative;
  overflow: hidden;
}
.item-img::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.item-img:hover::before {
  left: 125%;
}
.gallery .gallery__effect figure h5 {
  position: absolute;
  z-index: 0;
  color: #fff;
  bottom: 0;
  font-weight: bold;
  background: rgb(255 255 255 / 27%);
  padding: 6px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 20px;
}
/* FEEDBACK  */
.feedback {
  background: url(./img/bg1.jpg);
  position: relative;
  z-index: 1;
}
.feedback:before {
  content: "";
  background: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.feedback .feedback__container {
  max-width: 900px;
  margin: auto;
}
.feedback .feedback__img {
  text-align: center;
}
.feedback__img__people {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}
.feedback .people h3 {
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 5px;
  color: #fff;
}
.feedback .people .identity {
  color: #fff;
  font-size: 16px;
}
.feedback i {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
}
.feedback blockquote q {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
}
.owl-theme .owl-dots .owl-dot span {
  background: #aaa;
  transition: opacity 0.2s ease;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fb811e;
  opacity: 1;
}
/* FOOTER  */
footer .footer__content h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #060606;
}
footer p {
  line-height: 24px;

  transition: all 0.5s;
}
footer p a {
  color: #707070;
  transition: all 0.5s;
}
footer p a:hover {
  color: #fb811e;
}
footer .logo {
  font-size: 32px;
  color: #fb811e;
  position: relative;
  transition: all 0.5s;
}
footer .logo:hover {
  color: #060606;
}
footer .logo i {
  position: absolute;
  top: -4px;
  left: 45px;
  font-size: 20px;
}
footer .CopyRights a {
  color: #009f4d;
}
footer .subscribe input {
  background: #f4f4f4;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  color: #707070;
  border: 1px solid #eee;
  border-radius: 30px 0px 0px 30px;
}
footer button {
  background: #009f4d;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 12px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
}
footer ul li {
  display: inline-block;
  margin-right: 5px;
}
footer ul li a {
  color: #009f4d;
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  transition: all 0.5s;
  font-size: 15px;
}
footer ul li a:hover {
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}
/* BACK TO TOP  */
.back-to-top:hover {
  color: white;
}
.back-to-top {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  background: #009f4d;
  color: white;
  font-size: 16px;
  display: block;
  position: fixed;
  bottom: 90px;
  right: 15px;
  border: none;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 1;
}
@media screen and (max-width: 1200px) {
  p {
    line-height: 26px;
  }
}
@media screen and (max-width: 768px) {
  .small-title {
    font-size: 18px;
  }
  .feedback .feedback__container blockquote q {
    font-size: 17px;
    line-height: 30px;
  }
  .feedback .feedback__container i {
    font-size: 20px;
  }
  .people h3 {
    font-size: 20px;
    margin-bottom: 0;
  }
}
/* @media scren and (max-width: 735.98px) {
 
} */
@media screen and (max-width: 568px) {
  .title-style {
    font-size: 30px;
    line-height: 40px;
  }
}

/* Dark Theme*/
.dark#myBody {
  background-color: #222222;
}
/* header */
.dark#myBody .nav-fixed {
  z-index: 99;
  background-color: #222222;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  height: 70px;
}

.dark#myBody .nav-fixed .navbar-brand {
  color: white;
}

.dark #switchButton {
  border: none;
}
.dark #switchButton .fa-sun {
  display: block;
  font-size: 25px;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark#myBody .nav-fixed label span {
  line-height: 1em;
  color: white;
}

.dark .submenu {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #222222;
  transition: max-height 0.5s ease-out;
  position: absolute;
  min-width: 8em;
  right: 0;
  box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
}

.dark .submenu li a {
  color: #fdfffc;
  text-decoration: none;
  transition: all 0.75s;
}

.dark .submenu li a:hover {
  color: #fb811e;
}

.dark .card {
  background-color: #222222;
  color: white;
}
/* carousel */
.dark .farm-text {
  color: #000;
}

.dark .carousel__content h3 {
  color: #fdfffc;
}

.dark .carousel__content p {
  color: #b7b7ae;
}
/* feature */
.dark .feature__left .large__title {
  color: #eee;
}

.dark .feature__left p {
  color: #b7b7ae;
}

.dark .feature__right .feature__item {
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 1rem 3rem #00000008;
  background-color: #222222;
  transition: all 0.75s;
}

.dark .feature__right .feature__item:hover {
  transition: all 0.3s;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 20%);
}

.dark .feature__item a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: white;
  text-decoration: none;
  transition: all 0.75s;
}

.dark .feature__item a:hover {
  color: #009f4d;
}
/* service */
.dark .service-details {
  background: #222222;
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border: 1px solid #222222;
  border-top: none;
}

.dark .service-details h5 a {
  text-decoration: none;
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #fdfffc;
  margin: 15px 0;
  transition: all 0.75s;
}

.dark .service-details h5 a:hover {
  color: #009f4d;
}

.dark .service-details p {
  color: #b7b7ae;
}
/* whychooseus */
.dark .whychooseus__left .small-title{
  color: #fb811e;
}
.dark .whychooseus__left .title-style{
  color: #f4f4f4;
}
.dark .detail h4{
  color: #f4f4f4;
}
/* option */
.dark .option .option__container:hover {
  border: 0.5px solid #aaa;
  transition: 0.3s ease-in;
  box-shadow: -1px 2px 12px -9px rgb(0 0 0 / 41%);
  background:#222222;
}
.dark .option .option__content h4 {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  color: #f4f4f4;
  transition: all .5s;
}
.dark .option .option__content h4:hover{
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  color:#009f4d;
}
/* gallery */
.dark .gallery .title{
  color: #f4f4f4;
}
/* footer */
.dark footer h3 {
  color: #f4f4f4;
}
.dark footer .subscribe input{
  background-color: #000;
  border-color: #222222;
}
/* /Dark theme */